/* Master styles */
body{
    margin: 0px;
    background-color: azure;
    font-family: "Lato", sans-serif;
}

footer{
    margin: 0px;
}

/* Home page */

.izbornik{
    display: flex;
    justify-content: center;
    font-size: 10px;
    }

.izbornik a{
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.izbornik_opcija{
    margin: 25px;
    }

.izbornik_opcija a:hover{
    border-bottom: 1px solid black;
    color: black;
}

.index_slika{
    text-align: center;
    margin-top: 40px;
}

/* About page */

.about_me{
    text-align: justify;
    padding: 10px;
    margin: 3% 35% 0 35%;
    border: 3px solid blanchedalmond;
    background-color:papayawhip;
    border-radius: 10px;
}

.footer{
    text-align: center;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    font-family: "Lato", sans-serif;
  }

  .footer-rest a:hover{
    border-bottom: 1px solid black;
    color: black;  
  }

.pre_exp_jobname{
color: rgb(56, 55, 55);
font-size: large;
}

.pre_exp_jobdescription{
    margin-right: 500px;
    text-align: justify;
}

.pre_exp_job{
    margin: 7px;
}

.master-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }

.item-description{
    text-align: center;
    font-weight: bold;
}

.grid-item{
    padding: 5%;
}

.research-link a:hover{
    border-bottom: 1px solid black;
    color: black;
}